body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header,footer{
    background-color: #46bcf3;
    color: #66bcf3;
    padding: 10px 0;
    text-align: center;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

#madLibOutput {
    padding: 20px;
    text-align: center;
}
.Headertext {
    font-family: "groupie-gloss", sans-serif;
font-weight: 400;
font-style: normal;
}
.navbar{
background-color: #46bcf3;
}